[submodule "services/tts"]
	path = services/tts
	url = git@github.com:ramonlabs/echo-tts.git
[submodule "services/stt"]
	path = services/stt
	url = git@github.com:ramonlabs/echo-stt.git
[submodule "services/llm"]
	path = services/llm
	url = git@github.com:ramonlabs/echo-llm.git
[submodule "services/avatar"]
	path = services/avatar
	url = git@github.com:ramonlabs/echo-avatar.git
[submodule "services/memory"]
	path = services/memory
	url = git@github.com:ramonlabs/echo-memory.git
[submodule "services/panel"]
	path = services/panel
	url = git@github.com:ramonlabs/echo-panel.git
[submodule "services/training"]
	path = services/training
	url = git@github.com:ramonlabs/echo-training.git
